@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-background-color: #011d42;
    --grey-background-color: #f3f3f3;
    --emphasis-font-color: #09b9d4;
    --dark-font-color: #011d42;
}

html {
    font-family: 'Roboto' ,'Times New Roman', Times, serif;
    font-size: 14px;
    color: var(--dark-font-color);
}

img {
    aspect-ratio: auto;
    height: 3.25rem;
}

button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

/*#region HEADER */
header {
    background-color: var(--dark-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 3rem;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
}

.logo {
    aspect-ratio: auto;
    height: 3rem;
}

/* Nav content*/
.nav-menu {
    display: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 25rem;
    /* width: 30%; */
}

.nav-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    padding-bottom: 0.3rem;
}

.nav-content:hover {
    cursor: pointer;
    filter: invert(64%) sepia(96%) saturate(1763%) hue-rotate(139deg) brightness(89%) contrast(93%);
    color: var(--emphasis-font-color);
}

.nav-content img {
    margin-left: 0.3rem;
    height: 0.75rem;
}

.dropdown {
    position: relative;
}

.nav-dropdown {
    display: none;
    position: absolute;
    border: 0.11rem solid white;
    color: white;
    text-decoration: none;
    padding: 1.5rem;
    background-color: var(--dark-background-color);
    z-index: 1;
    width: fit-content;
}

@media only screen and (min-width: 735px) {
    .dropdown:hover .nav-dropdown {
        display: flex;
        flex-direction: column;
    }
}

.dropdown-overview {
    color: white;
    white-space: nowrap;
    font-size: 1.1rem;
    font-weight: 500;
}

.dropdown-item {
    color: white;
    margin-top: 1.2rem;
    margin-left: 2.5rem;
    text-decoration: none;
    white-space: nowrap;
    font-size: 1.1rem;
}

.dropdown-item.active {
    color: var(--emphasis-font-color);
}

.dropdown-overview:hover {
    color: var(--emphasis-font-color);
    text-decoration: none;
}

.dropdown-item:hover {
    color: var(--emphasis-font-color);
}

.contact-button {
    font-weight: bold;
    color: var(--dark-background-color);
    background-color: white;
    padding: 0.75rem 0;
    border-radius: 10px;
    width: 9rem;
}

.contact-button:hover {
    cursor: pointer;
    background-color: var(--emphasis-font-color);
    color: white;
}

.menu-button {
    display: none;
}
/*#endregion*/

/* BODY */
.content-body {
    margin-top: 5rem;
    padding: 3rem 6%;
}

/* Introduction */
.content-introduction {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-introduction iframe {
    aspect-ratio: 16 / 9;
    width: 37rem;
}

.introduction-content-container {
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 32px;
    font-weight: 500;
    color: var(--dark-font-color);
}

.text-emphasis {
    font-size: 32px;
    font-weight: 500;
    color: var(--emphasis-font-color);
}

.introduction {
    margin-top: 0.5rem;
    width: 30rem;
    font-size: 1.2rem;
}

/* Main content */
.main-content-container {
    margin-top: 3rem;
    /* margin-bottom: 1rem; */
}

.main-content-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Card */
.card-container {
    margin: 1.5rem 0rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
    list-style: none;
}

.card {
    height: 24.5rem;
    border-radius: 15px;
    padding: 1.25rem;
}

.card-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-title {
    font-size: 1.3rem;
    font-weight: 500;
    padding-top: 1.25rem;
    height: 6rem;
}

:nth-child(odd of div.card) {
    background-color: var(--dark-background-color);
    color: white;
}

:nth-child(even of div.card) {
    background-color: var(--grey-background-color);
}

/* Previous Page */
.prev-page-title {
    font-size: 1.1rem;
    padding-bottom: 0.45rem;
}

.prev-page-text {
    color: var(--emphasis-font-color);
    font-size: 1.55rem;
    text-decoration: none;
}

.prev-page-text:hover {
    color: #40a9ff;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4%;
}

.social {
    padding-right: 1.5rem;
}

.footer-link {
    padding-left: 2rem;
    color: black;
    text-decoration: none;
}

.social img {
    aspect-ratio: auto;
    width: 2.75rem;
}

.social-facebook:hover {
    filter: invert(40%) sepia(13%) saturate(2767%) hue-rotate(182deg) brightness(91%) contrast(85%);
    cursor: pointer;
}

.social-youtube:hover {
    filter: invert(12%) sepia(98%) saturate(5718%) hue-rotate(13deg) brightness(103%) contrast(126%);
    cursor: pointer;
}

.footer-link:hover {
    color: var(--emphasis-font-color);
}

/* Responsive for tablet*/
@media only screen and (max-width: 900px) {
    /* HEADER */
    header {
        padding: 0 1.5rem;
    }

    /* BODY */
    .content-body {
        padding: 3rem 1.5rem;
    }

    /* Introduction */
    .introduction {
        margin-top: 0.5rem;
        width: 30rem;
        font-size: 1.2rem;
    }

    .content-introduction {
        display: flex;
        flex-direction: column;
    }

    .content-introduction iframe {
        aspect-ratio: 16 / 9;
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .introduction-content-container {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .introduction {
        margin-top: 0.5rem;
        width: 100%;
        font-size: 1.3rem;
    }

    /* Card */
    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        height: fit-content;
        width: 100%;
    }

    .card-logo {
        aspect-ratio: auto;
        height: 4rem;
    }

    .card-title {
        font-size: 1.5rem;
        padding-top: 1.25rem;
        height: fit-content;
        margin-bottom: 1rem;
    }

    .card-content {
        font-size: 1.2rem;
    }
}

/* responsive for mobile*/
@media only screen and (max-width: 735px) {
    footer {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 2rem 0rem;
    }

    .social {
        padding: 0;
        margin: 1rem;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        background-color: var(--dark-background-color);
        padding: 1rem;
        width: 100%;
        position: fixed;
        top: 5rem;
        width: 100%;
    }

    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 0rem;
    }

    .nav-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.1rem;
        padding: 1rem 0;
    }

    .nav-dropdown.active {
        display: flex;
        flex-direction: column;
    }

    /* .nav-content img {
        background-color: red;
    } */

    .link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .footer-link {
        padding: 0;
        margin-top: 0.7rem;
    }

    .menu-button {
        display: flex;
        align-items: center;
        color: white;
        padding: 0.2rem;
        /* transition: all 0.4s ease-in; */
    }

    .menu-button img {
        aspect-ratio: 1;
        height: 1.5rem;
    }

    .menu-button.active {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        background-color: rgb(107, 107, 107);
        border: 0.1rem solid white;
        border-radius: 5px;
     }

    .disabled {
        display: none;
    }
}